{
  "project_info": {
    "project_number": "946428460187",
    "project_id": "novossh-play-b50b6",
    "storage_bucket": "novossh-play-b50b6.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:946428460187:android:d87698187f6f96e0beda3e",
        "android_client_info": {
          "package_name": "app.novossh.android"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_YOUR_FIREBASE_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}